include ../default/build-header
		
// header end
+roofContent("Детальная страница новостей")
	include ../detail/header.pug
	include ../detail/main.pug
	include ../detail/recent-items.pug
	include ../detail/reviews.pug


	
// slider thumbnails end

// footer start 
.stub-footer
include ../default/footer.pug

// footer end 